html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr auto 0.1fr;
}
header {
    display: grid;  
    grid-template-columns: 0.3fr 3.5fr 2fr 1fr;
    background-color: #00fffc;
    align-items: center;
    padding: 0 10px 0 10px;
    grid-column-start: span 3;
}
.menu {
    text-align: center;
}
.search {
    text-align: center;
}
.input_search {
    width: 30em;
    height: 20px;
    border: 2px solid black;
    border-radius: 15px;
}
#posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5px;
}
.post_id {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.post_name {
    display: grid;
    grid-column: 1 / end;
    justify-items: center;
}
.post_img {
    display: grid;
    grid-column: 2;
}
.post_text {
    display: grid;
    grid-column: 1 / end;
    margin: 10px;
}
#post_information {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / end;
    justify-items: center;
}
.see_more {
    text-align: center;
    margin: 0 40% 0 40%;
}
.see_more > p {
    padding: 5px 30px 5px 30px;
    border: 2px solid black;
}
.sidebar_chapter {
    width: 250px;
}
.page_login {
    margin: 17px 5px 17px 5px;
    border: 5px solid black;
    border-radius: 30px;
    display: grid;
    grid-template-rows: minmax(50px, auto);
    justify-content: center;
    align-items: center;
}
.sections_main {
    margin: 0 5px 0 5px;
    border: 5px solid black;
    border-radius: 30px;
}
.sections {
    margin: 0px;
    padding: 5px 0 5px 0;
    border-bottom: 5px solid black;
    text-align: center;
    height: 100%;
}
.sections_text {
    display: grid;
    justify-items: center;
}
footer {
    display: grid;  
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: blueviolet;
    grid-column-start: span 3;
}
.author > a > img {
    height: 70px;
    padding: 8px;
}
.copyright {
    text-align: center;
}
.social-icons {
    text-align: center;
}
.social-icons > li {
    display: inline-block;
}

/* login */
.authentication {
    display: grid;
    justify-content: center;
}
.authentication_form {
    text-align: center;
}
.authentication_form_label {
    border: 2px solid black;
    border-radius: 20px;
    width: 200px;
    height: 20px;
    text-align: center;
}

/* Admin panel */
.wrapper_admin {
    height: 100%;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 0.1fr auto 0.1fr;
}
.user {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
}
.photo_user {
    display: grid;
    justify-content: end;
}
.username {
    text-align: center;
}
#sidebar_admin {
    display: grid;
    justify-content: center;
    align-items: center;
    border-right: 5px solid black;
}
.sidebar_admin > div {
    display: grid;
    justify-content: center;
}
.menu_admin_button {
    border: 3px solid black;
    padding: 4px;
    border-radius: 15px;
    text-align: center;
}
#content_admin {
    margin: 10px;
}
.total_records {
    text-align: center;
}
.control_panel {
    border: 3px solid black;
    border-radius: 20px;
}
.control_panel_sections {
    font-weight: bold;
}
.control_panel_sections_text {
    border-top: 3px solid black;
}
.control_panel_sections, .control_panel_sections_text {
    display: grid;
    grid-template-columns: 0.2fr repeat(5, 1fr);
    justify-items: center;
}

/* post */
.properties {
    background-color: #ababab;
}
.information_post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.information_post > p {
    font-weight: bold;
}
.post_image {
    display: grid;
    justify-items: center;
    margin: 10px 0 10px 0;
}
.block_recommended {
    border: 5px solid black;
    border-radius: 20px;
    margin: 10px;
}
.block_recommended > h3 {
    text-align: center;
}
.recommended_posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 5px solid black;
    padding: 10px;
}
.recommended_post_1 {
    margin: 10px;
}
.recommended_post_img > img {
    width: 200px;
}
.recommended_post_img, .recommended_post_text {
    text-align: center;
}
.comments {
    display: grid;
    justify-content: center;
    text-align: center;
}
.new_comments {
    display: grid;
}
.new_comment_text {
    display: grid;
}
.new_comment_text > label > .comment_name, .comment_text {
    border: 2px solid black;
}
.comment_name, .comment_text, .comment_button {
    margin: 20px;
}