html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
    "header header header"
    "content content sidebar"
    "footer footer footer";
}
#header {
    grid-area: header;

    display: grid;  
    grid-template-columns: repeat(3, 1fr);
    background-color: #00fffc;
    align-items: center;
    padding: 0 10px 0 10px;
}
.menu {
    text-align: center;
}
.input_search {
    width: 30em;
    height: 20px;
    border: 2px solid black;
    border-radius: 15px;
}
.content {
    grid-area: content;
}
#posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.post_id {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.post_name {
    display: grid;
    grid-column: 1 / end;
    justify-items: center;
}
.post_img {
    display: grid;
    grid-column: 2;
}
.post_text {
    margin: 10px;
    display: grid;
    grid-column: 1 / end;
}
.post_information_center {
    display: grid;
    justify-items: center;
}
.see_more {
    display: grid;
    justify-items: center;
}
.see_more > p {
    padding: 5px 30px 5px 30px;
    border: 2px solid black;
}
#sidebar {
    grid-area: sidebar;
    
    display: grid;
    grid-template-rows: auto 1fr;
}
.sidebar_chapter {
    width: 250px;
}
.login {
    margin: 17px 5px 17px 5px;
    border: 5px solid black;
    border-radius: 30px;
    display: grid;
    grid-template-rows: minmax(50px, auto);
    justify-content: center;
    align-items: center;
}
.sections_main {
    margin: 0 5px 0 5px;
    border: 5px solid black;
    border-radius: 30px;
}
.sections {
    margin: 0px;
    padding: 5px 0 5px 0;
    border-bottom: 5px solid black;
    text-align: center;
    height: 100%;
}
.sections_text {
    display: grid;
    justify-items: center;
}
#footer {
    grid-area: footer;

    display: grid;  
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: blueviolet;
}
.author > a > img {
    height: 70px;
    padding: 8px;
}
.copyright {
    display: grid;
    justify-content: center;
}
.social-icons {
    width: 200px;
    padding: 0 50px 0 50px;
}
.social-icons > li {
    display: inline-block;
}

/* login */
.wrapper_login {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer";
}
.authentication {
    display: grid;
    justify-content: center;
}
.authentication_form_label {
    border: 2px solid black;
    border-radius: 20px;
    width: 200px;
    height: 20px;
    text-align: center;
}

/* Admin panel */
.wrapper_admin {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
}
.user {
    display: grid;
    grid-column-end: 5;
}
.logo_user {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    align-items: center;
}
.content_admin {
    display: grid;
}
.sidebar_admin {
    display: grid;
    justify-content: center;
    align-items: center;
    border-right: 5px solid black;
}
.sidebar_admin > div {
    display: grid;
    justify-content: center;
}
.menu_admin_button {
    border: 4px solid black;
    border-radius: 15px;
}

/* post */
.wrapper_post {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer";
}
.properties {
    align-items: center;
    background-color: #ababab;
}
.information_post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.information_post > p {
    font-weight: bold;
}
.post_image {
    display: grid;
    justify-items: center;
    margin: 10px 0 10px 0;
}
.recommended_posts {
    display: grid;
    grid-template-rows: repeat(2, 3fr);
    margin: 0 10px 0 10px;
    border: 5px solid black;
    border-radius: 20px;
}
.recommended_posts > h3 {
    text-align: center;
}
.recommended_posts_definite {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    border-top: 5px solid black;
}
.comments {
    display: grid;
    justify-content: center;
}
